*, *::before, *::after {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin-bottom: 5rem;
}

#container {
    display:flex;
    width: calc((25px * 16) + (16px * 2)); /*size of box * amount of squares p/line + border size(left,right) * amount of squares */
    height: calc((25px * 16) + (16px * 2));
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px;
}

.hover {
    background-color: red;
}

.hoverExit {
    animation: trail 1s 1 linear;
}

@keyframes trail {
    100% {
        background: white;
    }
}