:root {
    font-family:monospace;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(116, 110, 62);
    overflow:hidden;
}

#title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 64px;
    color: yellow;
    -webkit-text-stroke: 2px black; 
    text-shadow: 5px 5px 25px yellow;
}

#container {
    display:flex;
    width: calc((25px * 16) + (16px * 2)); /*size of box * amount of squares p/line + border size(left,right) * amount of squares */
    height: calc((25px * 16) + (16px * 2));
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 5px;
    background-color: white;
}

.hover {
    background-color: black;
    cursor: crosshair;
}

.hoverExit {
    animation: trail 2s 1 linear;
}

.settings {
    display:flex;
    justify-content: space-around;
    width: 432px;
    height: 15rem;
    gap: 20px;
    margin: 5rem auto;
}

.settings>div{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#range, #rangeSize, #colorValue, #colorChoose, legend, #rainbow, #random-grid {
    cursor: grab;
    accent-color: yellow;
    outline:2px solid gold;
    outline-style: dotted;
    box-shadow: 0px 0px 10px 10px black;
    opacity: 80%;
}

#range:hover, #colorChoose:hover, #rainbow:hover, #random-grid:hover {
    opacity: 100%;
    box-shadow: 0px 0px 10px 10px black;
    accent-color: gold;
}

#rangeSize, #colorValue, legend, #random-grid {
    width: 8rem;
    cursor: default;
    font-size: 24px;
    font-weight: bold;
    padding: 0 1rem;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 1.3px black;
}

#colorChoose {
    height: 15px;
    width: 9.75rem;
}

legend {
    font-size: 19px;
    -webkit-text-stroke:0.3px black;
}

#rainbow, #random-grid {
    width: 50px;
    height: 50px;
    background: repeating-linear-gradient(red,orange,yellow,green,blue,indigo,violet);
    cursor: pointer;
}

#rainbow:hover {
    animation: rainbow 1s infinite linear;
    transition: 0.3ms ease;
}

#random-grid {
    background: white;
}

#random-grid:hover {
    text-shadow: 0px 0px 10px black;
    animation: random-pulse 0.3s infinite linear alternate;
}


@keyframes trail {
    100% {
        background: white;
    }
}

@keyframes rainbow {
    0% {
        background: linear-gradient(violet,red,orange,yellow,green,blue,indigo);
    }
    10% {
        background: linear-gradient(indigo,violet,red,orange,yellow,green,blue);
    }
    20% {
        background: linear-gradient(blue,indigo,violet,red,orange,yellow,green);
    }
    30% {
        background: linear-gradient(green,blue,indigo,violet,red,orange,yellow);
    }
    40% {
        background: linear-gradient(yellow,green,blue,indigo,violet,red,orange);
    }
    50% {
        background: linear-gradient(orange,yellow,green,blue,indigo,violet,red);
    }
    60% {
        background: linear-gradient(red,violet,indigo,blue,green,yellow,orange);
    }
    70% {
        background: linear-gradient(orange,red,violet,indigo,blue,green,yellow);
    }
    80% {
        background: linear-gradient(yellow,orange,red,violet,indigo,blue,green);
    }
    900% {
        background: linear-gradient(green, yellow, orange, red, violet, indigo, blue);
    }
    100% {
        background: linear-gradient(blue,green,yellow,orange,red,violet,indigo);
    }
}

@keyframes random-pulse {
    from {
        font-size: 32px;
        transform: scale(1.05) rotate(-15deg);
    }
    to {
        font-size: 40px;
        transform: scale(1.1) rotate(15deg);
    }
}